<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/footer.css" />
    <title>#</title>
  </head>
  <body></body>
</html>
<footer class="section-footer">
  <div class="container">
    <div class="footer-social-address-tablet">
      <p class="footer-paragraph">
        <span class="footer-paragraph-orange">Chocolate</span>
        a delicious cure for a bad day
      </p>

      <div class="footer-social-address-container">
        <div class="footer-social-container">
          <h4 class="footer-title">Contact us</h4>

          <ul class="footer-social list">
            <li>
              <a class="footer-social-link" href="">
                <svg class="footer-social-item">
                  <use href="./image/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="footer-social-link" href="">
                <svg class="footer-social-item">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <address class="address">
          <ul class="list">
            <li class="address-item">
              <a class="address-link link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>

            <li class="address-item">
              <a class="address-link link" href="mailto:simplychoc@gmail.com"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>

    <nav class="footer-nav">
      <ul class="footer-nav-list list">
        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#home">Home</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#how_its_made"
            >How it&#39;s made?</a
          >
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#our_products">Our products</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#top_sellers">Top sellers</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#reviews">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
