<footer class="section-footer">
  <div class="footer-wrapper container">
    <div class="footer-social-address-tablet">
      <p class="footer-paragraph">
        <span class="footer-paragraph-orange">Chocolate</span>
        a delicious cure for a bad day
      </p>

      <div class="footer-social-address-container">
        <div class="footer-social-container">
          <h4 class="footer-title">Contact us</h4>

          <ul class="footer-social list">
            <li>
              <a class="footer-social-link" href="https://www.instagram.com">
                <svg class="footer-social-item">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="footer-social-link" href="https://www.twitter.com">
                <svg class="footer-social-item">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <address class="address">
          <ul class="list">
            <li class="address-item">
              <a class="address-link link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>

            <li class="address-item">
              <a class="address-link link" href="mailto:simplychoc@gmail.com"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>

    <nav class="footer-nav">
      <ul class="footer-nav-list list">
        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="./index.html">Home</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#how-it’s-made"
            >How it&#39;s made?</a
          >
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#our-products">Our products</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#top-sellers">Top sellers</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#review">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
