<header class="header-container container">
  <div class="header-mobile">
    <a href="./index.html" class="logo-header link">
      <div class="logo-units">
        <span class="simply-logo">Simply </span>Chocolate
      </div>

      <svg class="mobile-logo-icon" width="21" height="21">
        <use href="./images/sprite.svg#icon-chocolate-logo"></use>
      </svg>
    </a>
    <nav>
      <ul class="desktop-menu-list-header list">
        <li class="mobile-menu-item">
          <a href="./index.html" class="link"> Home</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#how-it’s-made" class="link">How it's made&#63;</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#our-products" class="link"> Our products</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#top-sellers" class="link"> Top sellers</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#review" class="link"> Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="desktop-social-list-header list">
      <li class="social-list-item-header">
        <a
          href="https://www.instagram.com
                "
          class="social-link-mobile"
        >
          <svg class="social-icon-mobile-menu">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-item-header">
        <a
          href="https://www.twitter.com
                "
          class="social-link-mobile"
        >
          <svg class="social-icon-mobile-menu">
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button
      type="button"
      class="button-mobile-menu js-open-menu menu-toggle"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mobile-menu-icon" width="28" height="28">
        <use href="./images/sprite.svg#icon-menu-mobile"></use>
      </svg>
      <svg class="tablet-menu-icon" width="32" height="32">
        <use href="./images/sprite.svg#icon-menu-table"></use>
      </svg>
    </button>
  </div>
  <!-- Mobile menu -->
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button
      type="button"
      class="close-mobile-menu-btn js-close-menu menu-toggle"
    >
      <svg class="icon-close-button">
        <use href="./images/sprite.svg#icon-close-button"></use>
      </svg>
    </button>
    <nav>
      <ul class="mobile-menu-list list">
        <li class="mobile-menu-item">
          <a href="index.html" class="link"> Home</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#how-it’s-made" class="link">How it's made&#63;</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#our-products" class="link"> Our products</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#top-sellers" class="link"> Top sellers</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#review" class="link"> Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="mobile-social-list list">
      <li class="social-list-item-header">
        <a
          href="https://www.instagram.com
                "
          class="social-link-mobile"
        >
          <svg class="social-icon-mobile-menu">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-item-header">
        <a
          href="https://www.twitter.com
                "
          class="social-link-mobile"
        >
          <svg class="social-icon-mobile-menu">
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
