<section class="container">
  <div class="hero-img">
    <div class="hero-img-wrapper">
      <h2 class="hero-img-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="hero-menu-buttons">
        <div class="hero-buttons-wrapper">
          <button type="button" class="order-btn hero-menu-button-text">
            Buy now
          </button>
          <a href="#how-it’s-made">
            <button
              type="button"
              class="scroll-to-how-its-made-btn hero-menu-button-text"
            >
              How it’s made
            </button>
          </a>
        </div>
        <div class="hero-scroll-down-wrapper">
          <p class="scroll-down-title">scroll down</p>
          <button type="button" class="scroll-down-btn">
            <svg class="scroll-down-btn-icon" height="16" width="16">
              <use href="./images/sprite.svg#icon-scroll-down"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
