<section class="hero-img">
  <div class="container">
    <h2>
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <button type="button" class="order-btn">Buy now</button>
    <button type="button" class="scroll-to-how-it's-made">How it’s made</button>
    <p>scroll down</p>
    <button type="button" class="scroll-down-btn">
      <svg class="scroll-down-btn-icon" width="6.58" height="12.83">
        <use href="../images/sprite.svg#icon-scrol-down"></use>
      </svg>
    </button>
  </div>
</section>
