<section class="page-hero-img">
  <div class="container">
    <div class="hero-img">
      <h2 hidden>Hidden headline</h2>
      <div class="hero-img-wrapper">
        <h2 class="hero-img-title">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </h2>
        <div class="hero-menu-buttons">
          <div class="hero-buttons-wrapper">
            <button
              type="button"
              class="order-btn hero-menu-button-text js-open-modal"
              data-modal="3"
            >
              Buy now
            </button>
            <a href="#how-it’s-made" class="link">
              <button
                type="button"
                class="scroll-to-how-its-made-btn hero-menu-button-text"
              >
                How it’s made
              </button>
            </a>
          </div>
          <div class="hero-scroll-down-wrapper">
            <a href="#advantages" class="hero-scroll-down-item link">
              <span class="scroll-down-title">scroll down</span>
              <button type="button" class="scroll-down-btn">
                <svg class="scroll-down-btn-icon" height="16" width="16">
                  <use href="./images/sprite.svg#icon-scroll-down"></use>
                </svg>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
