<section class="how-its-made-section" id="how-it’s-made">
  <div class="container">
    <h2 class="how-its-made-heading">
      HOW IT’S <span class="how-its-made-heading-end">MADE?</span>
    </h2>
    <div class="how-its-made-flex-container">
      <!-- <picture class="how-its-made-picture">
        <source
          srcset="
            ./images/how-its-made-section/how-its-made-image-desktop.jpg    1x,
            ./images/how-its-made-section/how-its-made-image-desktop@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/how-its-made-section/how-its-made-image-tablet.jpg    1x,
            ./images/how-its-made-section/how-its-made-image-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./images/how-its-made-section/how-its-made-image-mobile.jpg    1x,
            ./images/how-its-made-section/how-its-made-image-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class="how-its-made-image"
          src="./images/how-its-made-section/how-its-made-image-mobile.jpg"
          alt="Cooking chocolate"
        />
      </picture> -->

      <!-- <div class="how-its-made-video-thumb">
        <div class="how-its-made-video-thumb-fade"></div>
        <video
          class="how-its-made-video"
          width="100%"
          height="100%"
          autoplay
          preload="auto"
          muted
          loop
          src="./videos/chocolate.mp4"
          poster="./images/how-its-made-section/how-its-made-image-desktop.jpg"
        ></video>
      </div> -->

      <div class="how-its-made-video-thumb">
        <div class="how-its-made-video-thumb-fade"></div>
        <iframe
          class="how-its-made-video"
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/Jw0DXZIywdI"
          title="HOMEMADE CHOCOLATE BAR RECIPE l WITH BUTTER l WITHOUT COCONUT OIL or COCOA BUTTER"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div class="how-its-made-list-container">
        <p class="how-its-made-list-name">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
        <ul class="list">
          <li class="how-its-made-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how-its-made-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-its-made-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how-its-made-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how-its-made-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
