<!-- Anton Khomenko -->
<section id="our-products" class="our-products">
  <div class="our-products-container container">
    <h2 class="our-products-title">
      Our <span class="our-products-title-part2">products</span>
    </h2>
    <div class="swiper1">
      <ul class="our-products-list swiper-wrapper">
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-item-pic"
            srcset="
              ./images/our-products/image1.webp    1x,
              ./images/our-products/image1@2x.webp 2x
            "
            src="./images/our-products/image1.webp"
            alt="orange chocolate"
            width="230"
          />
          <h3 class="our-products-item-title">orange</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <p class="our-products-item-price">45 UAH</p>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-item-pic"
            srcset="
              ./images/our-products/image2.webp    1x,
              ./images/our-products/image2@2x.webp 2x
            "
            src="./images/our-products/image2.webp"
            alt="apple and cranberry chocolate"
            width="230"
          />
          <h3 class="our-products-item-title">apple&cranberry</h3>
          <p class="our-products-item-text">Milk chocolate</p>
          <p class="our-products-item-price">50 UAH</p>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-item-pic"
            srcset="
              ./images/our-products/image3.webp    1x,
              ./images/our-products/image3@2x.webp 2x
            "
            src="./images/our-products/image3.webp"
            alt="lime and sea salt chocolate"
            width="230"
          />
          <h3 class="our-products-item-title">lime&sea salt</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <p class="our-products-item-price">66 UAH</p>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-item-pic"
            srcset="
              ./images/our-products/image4.webp    1x,
              ./images/our-products/image4@2x.webp 2x
            "
            src="./images/our-products/image4.webp"
            alt="pineapple chocolate"
            width="230"
          />
          <h3 class="our-products-item-title">pineapple</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <p class="our-products-item-price">54 UAH</p>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-item-pic"
            srcset="
              ./images/our-products/image5.webp    1x,
              ./images/our-products/image5@2x.webp 2x
            "
            src="./images/our-products/image5.webp"
            alt="classic milk chocolate"
            width="230"
          />
          <h3 class="our-products-item-title">Classic</h3>
          <p class="our-products-item-text">Milk chocolate</p>
          <p class="our-products-item-price">45 UAH</p>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-item-pic"
            srcset="
              ./images/our-products/image6.webp    1x,
              ./images/our-products/image6@2x.webp 2x
            "
            src="./images/our-products/image6.webp"
            alt="honey milk chocolate"
            width="230"
          />
          <h3 class="our-products-item-title">honey</h3>
          <p class="our-products-item-text">Milk chocolate</p>
          <p class="our-products-item-price">50 UAH</p>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-item-pic"
            srcset="
              ./images/our-products/image7.webp    1x,
              ./images/our-products/image7@2x.webp 2x
            "
            src="./images/our-products/image7.webp"
            alt="roasted winter fruit chocolate"
            width="230"
          />
          <h3 class="our-products-item-title">Roasted fruits</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <p class="our-products-item-price">66 UAH</p>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-item-pic"
            srcset="
              ./images/our-products/image8.webp    1x,
              ./images/our-products/image8@2x.webp 2x
            "
            src="./images/our-products/image8.webp"
            alt="classic white chocolate"
            width="230"
          />
          <h3 class="our-products-item-title">Classic</h3>
          <p class="our-products-item-text">White chocolate</p>
          <p class="our-products-item-price">54 UAH</p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
    <!-- pagination -->

    <!-- </div> -->
  </div>
</section>
