<div class="review-backdrop is-hidden" data-review>
    <div class="review-modal">
        <button class="review-button-close" type="button" data-review-close>
            <svg class="review-button-close-icon" width="12" height="12">
                <use href="./images/review/sprite.svg#icon-close-icon"></use>
            </svg>
        </button>
        <h4 class="review-modal-title">LEAVE A REVIEW ABOUT <span class="review-modal-title-org">OUR
                CHOCOLATE</span></h4>
        <form class="review-modal-form">
            <div class="review-modal-field">
                <div class="review-input-wrap">
                    <input class="review-modal-input" type="text" name="text" pattern="^[a-zA-Za-яА-ЯіІїґҐєЄ']+"
                        placeholder="Name">
                </div>
                <div class="review-input-wrap">
                    <input class="review-modal-input" type="email" name="email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter your email">
                </div>
                <div class="review-input-wrap">
                    <input class="review-modal-input tel" type="tel" name="phone_nimber"
                        pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="Phone number">
                    <svg class="review-modal-input-icon">
                        <use href="./images/review/sprite.svg#icon-flag"></use>
                    </svg>
                    <p class="review-modal-input-tel">+380</p>
                </div>
            </div>
            <div class="review-modal-field">
                <textarea class="review-modal-textarea" id="user-comment" name="user-comment"
                    placeholder="Enter text"></textarea>
            </div>
            <button class="review-modal-button" type="submit" data-review-close>Send</button>
        </form>
    </div>
</div>