<section class="review">
    <div class="container">
        <h2 class="review-title">chocolate<span class="review-title-black"> is loved</span></h2>
        <ul class="review-list list">
            <li class="review-item">
                <h3 class="review-card-name">Victoria Dobrzhanska</h3>
                <p class="review-card-text">
                    I love this chocolate bar. Perfect combination of light crispy wafer,
                    covered in a thin layer chocolate.</p>
                <img class="review-card-img" srcset="./images/review1.jpg 1x, ./images/review1-2x.jpg 2x"
                    src="./images/review1.jpg" alt="girl with short cut of brown hair">
            </li>
            <li class="review-item one">
                <h3 class="review-card-name">Nazar Babenko</h3>
                <p class="review-card-text">
                    This chocolate confection is a delight! A delight! The wafer is light and
                    crisp, the hazelnut cream is smooth, and the
                    chocolate is good.</p>
                <img class="review-card-img second" srcset="./images/review2.jpg 1x, ./images/review2-2x.jpg 2x"
                    src="./images/review2.jpg" alt="serious man's looking in camera">
            </li>
            <li class="review-item two">
                <h3 class="review-card-name">Olena Kampusch</h3>
                <p class="review-card-text">
                    Chocolate is a family favourite treat. Love the delicious smooth chocolate and the
                    creaminess
                    inside. The wafer is soft
                    but crunchy.</p>
                <img class="review-card-img second" srcset="./images/review3.jpg 1x, ./images/review3-2x.jpg 2x"
                    src="./images/review3.jpg" alt="girl standing in front os sundown">
            </li>
        </ul>
        <img class="slider" src="./images/offer-banner.jpg" alt="slider">
        <button class="review-buttom" type="button" data-review-open>Leave a review</button>
    </div>
</section>