<!-- <a href="#" class="js-open-modal" data-modal="2">Открыть окно 2</a> -->

<section id="review" class="review">
  <div class="swiper container">
    <h2 class="review-title">
      chocolate<span class="review-title-black"> is loved</span>
    </h2>
    <!-- Additional required wrapper -->
    <ul class="review-list swiper-wrapper">
      <!-- Slides -->
      <li class="review-item swiper-slide">
        <div class="review-card">
          <h3 class="review-card-name">Victoria Dobrzhanska</h3>
          <p class="review-card-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
        <img class="review-card-img" srcset="
            ./images/review/review1.webp    1x,
            ./images/review/review1@2x.webp 2x
          " src="./images/review/review1.webp" alt="girl with short cut of brown hair" />
      </li>
      <li class="review-item swiper-slide">
        <div class="review-card">
          <h3 class="review-card-name">Nazar Babenko</h3>
          <p class="review-card-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
        <img class="review-card-img" srcset="
            ./images/review/review2.webp    1x,
            ./images/review/review2@2x.webp 2x
          " src="./images/review/review2.webp" alt="serious man's looking in camera" />
      </li>
      <li class="review-item swiper-slide">
        <div class="review-card">
          <h3 class="review-card-name">Nazar Babenko</h3>
          <p class="review-card-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
        <img class="review-card-img" srcset="
            ./images/review/review3.webp    1x,
            ./images/review/review3@2x.webp 2x
          " src="./images/review/review3.webp" alt="girl standing in front os sundown" />
      </li>
      <li class="review-item swiper-slide">
        <div class="review-card">
          <h3 class="review-card-name">Natalia Sus</h3>
          <p class="review-card-text">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </div>
        <img class="review-card-img" srcset="
            ./images/review/review4.webp    1x,
            ./images/review/review4@2x.webp 2x
          " src="./images/review/review4.webp" alt="girl with frinkles" />
      </li>
      <li class="review-item swiper-slide">
        <div class="review-card">
          <h3 class="review-card-name">Danilo Nottingham</h3>
          <p class="review-card-text">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </div>
        <img class="review-card-img" srcset="
            ./images/review/review5.webp    1x,
            ./images/review/review5@2x.webp 2x
          " src="./images/review/review5.webp" alt="black and white photo of man" />
      </li>
      <li class="review-item swiper-slide">
        <div class="review-card">
          <h3 class="review-card-name">Irina Tydnyuk</h3>
          <p class="review-card-text">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </div>
        <img class="review-card-img" srcset="
            ./images/review/review6.webp    1x,
            ./images/review/review6@2x.webp 2x
          " src="./images/review/review6.webp" alt="girl in walking" />
      </li>
    </ul>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <button class="review-buttom js-open-modal " type="button" data-modal="2">
    Leave a review
  </button>
</section>