<section class="top-sellers container" id="top-sellers">
  <h3 class="top-sellers-title">
    Top<span class="top-sellers-title-sellers"> Sellers</span>
  </h3>
  <ul class="top-sellers-images-list list">
    <li class="top-sellers-image-item">
      <picture>
        <!----------desctop------------>
        <source
          srcset="
            ./images/top-sellers/desktop/top-sellers-desktop-1@1x.jpg 1x,
            ./images/top-sellers/desktop/top-sellers-desktop-1@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/top-sellers/desktop/top-sellers-desktop-1@1x.webp 1x,
            ./images/top-sellers/desktop/top-sellers-desktop-1@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <!---------------tablet---------->
        <source
          srcset="
            ./images/top-sellers/tablet/top-sellers-tablet-1@1x.jpg 1x,
            ./images/top-sellers/tablet/top-sellers-tablet-1@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/top-sellers/tablet/top-sellers-tablet-1@1x.webp 1x,
            ./images/top-sellers/tablet/top-sellers-tablet-1@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <!--------------mobile------------->
        <source
          srcset="
            ./images/top-sellers/mobile/top-sellers-mobile-1@1x.jpg 1x,
            ./images/top-sellers/mobile/top-sellers-mobile-1@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <source
          srcset="
            ./images/top-sellers/mobile/top-sellers-mobile-1@1x.webp 1x,
            ./images/top-sellers/mobile/top-sellers-mobile-1@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <img
          class="top-sellers-img top-sellers-img-cofee"
          src="./images/top-sellers/mobile/top-sellers-mobile-1@1x.jpg"
          alt="nut, coffee and chocolate"
        />
      </picture>
      <p class="top-sellers-mobile-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
    </li>
    <li class="top-sellers-image-item">
      <picture>
        <!------------desctop----------->
        <source
          srcset="
            ./images/top-sellers/desktop/top-sellers-desktop-2@1x.jpg 1x,
            ./images/top-sellers/desktop/top-sellers-desktop-2@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/top-sellers/desktop/top-sellers-desktop-2@1x.webp 1x,
            ./images/top-sellers/desktop/top-sellers-desktop-2@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <!-----------------tablet------------>
        <source
          srcset="
            ./images/top-sellers/tablet/top-sellers-tablet-2@1x.jpg 1x,
            ./images/top-sellers/tablet/top-sellers-tablet-2@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/top-sellers/tablet/top-sellers-tablet-2@1x.webp 1x,
            ./images/top-sellers/tablet/top-sellers-tablet-2@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <!-----------mobile----------------->
        <source
          srcset="
            ./images/top-sellers/mobile/top-sellers-mobile-2@1x.jpg 1x,
            ./images/top-sellers/mobile/top-sellers-mobile-2@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <source
          srcset="
            ./images/top-sellers/mobile/top-sellers-mobile-2@1x.webp 1x,
            ./images/top-sellers/mobile/top-sellers-mobile-2@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <img
          class="top-sellers-img"
          src="./images/top-sellers/mobile/top-sellers-mobile-2@1x.jpg"
          alt="chocolate bar 1"
        />
      </picture>
    </li>
    <li class="top-sellers-image-item top-sellers-image-item-bar">
      <img
        class="top-sellers-img"
        srcset="./images/top-sellers/desktop/top-sellers-desktop-3@2x.jpg 2x"
        src="./images/top-sellers/desktop/top-sellers-desktop-3@1x.jpg"
        alt="chocolate bar 2"
      />
    </li>
  </ul>

  <div class="info-button-container">
    <p class="top-sellers-text">
      Crazy enough chocolate originates from a bean just like the coffee bean
      called Cacao. Cacao has been around for thousands of years and was first
      discovered by the Native American tribe called the Mayans.
    </p>
    <button
      class="open-form-buy-button js-open-modal"
      data-modal="3"
      type="button"
    >
      Buy now
    </button>
  </div>
</section>
