<section class="unique_components">
  <div class="container">
    <h2 class="section-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="accent-word">TASTE </span> SENSATION
    </h2>
    <p class="components-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>

    <ul class="list components-list">
      <li class="item components-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="components-item-img-front item-accent">
              <picture>
                <source srcset="./images/unique_components/milk_choco_desktop.webp 1x, 
                  ./images/unique_components/milk_choco_desktop@2x.webp 2x" type="image/webp"
                  media="(min-width:1200px)" />


                <source srcset="
                    ./images/unique_components/milk_choco_tab_mb.webp    1x,
                    ./images/unique_components/milk_choco_tab_mb@2x.webp 2x
                  " type="image/webp" media="(min-width:280px)" />

                <img src="./images/unique_components/milk_choco_desktop.webp" alt="Milk chocolate"
                  class="components-picture" />
              </picture>
              <h3 class="component-caption component-caption-light">
                Milk chocolate
              </h3>
            </div>

            <!-- оборотная сторона -->
            <div class="components-item-img-back">
              <h3 class="component-title">Milk chocolate</h3>
              <ul class="component-tag-list list">
                <li class="component-tag-item component-tag-item-color">
                  chocolate
                </li>
                <li class="component-tag-item component-tag-item-transparent">
                  the benefits
                </li>
              </ul>
              <p class="component-descr">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of
                chocolate. Chocolate was originally sold and consumed as a
                beverage in pre-Columbian times. Although four-fifths of all
                milk chocolate is sold in the United States and Europe.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="item components-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="components-item-img-front">
              <picture>
                <source srcset="
                    ./images/unique_components/milk_desktop.webp    1x,
                    ./images/unique_components/milk_desktop@2x.webp 2x
                  " type="image/webp" media="(min-width:1200px)" />
                <source srcset="
                    ./images/unique_components/milk_tab_mb.webp    1x,
                    ./images/unique_components/milk_tab_mb@2x.webp 2x
                  " type="image/webp" media="(min-width:280px)" />

                <img src="./images/unique_components/milk_desktop.webp" alt="Milk" class="components-picture" />
              </picture>
              <h3 class="component-caption component-caption-dark">Milk</h3>
            </div>

            <!-- оборотная сторона -->
            <div class="components-item-img-back">
              <h3 class="component-title">Milk</h3>
              <ul class="component-tag-list list">
                <li class="component-tag-item component-tag-item-color">
                  milk
                </li>
                <li class="component-tag-item component-tag-item-transparent">
                  the benefits
                </li>
              </ul>
              <p class="component-descr">
                Milk is a white liquid food produced by the mammary glands of
                mammals. It is the primary source of nutrition for young mammals
                (including breastfed human infants) before they are able to
                digest solid food.Early-lactation milk, which is called
                colostrum, contains antibodies that strengthen the immune
                system.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="item components-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="components-item-img-front item-accent-dark">
              <picture>
                <source srcset="
                    ./images/unique_components/nuts_desktop.webp    1x,
                    ./images/unique_components/nuts_desktop@2x.webp 2x
                  " type="image/webp" media="(min-width:1200px)" />
                <source srcset="
                    ./images/unique_components/nuts_tab_mb.webp    1x,
                    ./images/unique_components/nuts_tab_mb@2x.webp 2x
                  " type="image/webp" media="(min-width:280px)" />

                <img src="./images/unique_components/nuts_desktop.webp" alt="Nuts" class="components-picture" />
              </picture>
              <h3 class="component-caption component-caption-light">nuts</h3>
            </div>

            <!-- оборотная сторона -->
            <div class="components-item-img-back">
              <h3 class="component-title">nuts</h3>
              <ul class="component-tag-list list">
                <li class="component-tag-item component-tag-item-color">
                  nuts
                </li>
                <li class="component-tag-item component-tag-item-transparent">
                  the benefits
                </li>
              </ul>
              <p class="component-descr">
                Almonds, pistachios, and walnuts are some types of nuts that
                contain healthy nutrients. When eaten as part of a
                nutrient-dense diet, these 9 nuts may offer benefits such as
                reducing your risk of heart disease. They’re a good source of
                fiber, healthy fats, and plant protein. Plus, they’re great on
                their own.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="item components-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="components-item-img-front">
              <picture>
                <source srcset="
                    ./images/unique_components/semi_sweet_desktop.webp    1x,
                    ./images/unique_components/semi_sweet_desktop@2x.webp 2x
                  " type="image/webp" media="(min-width:1200px)" />
                <source srcset="
                    ./images/unique_components/semi_sweet_tab_mb.webp    1x,
                    ./images/unique_components/semi_sweet_tab_mb@2x.webp 2x
                  " type="image/webp" media="(min-width:280px)" />

                <img src="./images/unique_components/semi_sweet_desktop.webp" alt="Semi-sweet chocolate"
                  class="components-picture" />
              </picture>
              <h3 class="component-caption component-caption-dark">
                sEMI - SWEET CHOCOLATE
              </h3>
            </div>

            <!-- оборотная сторона -->
            <div class="components-item-img-back">
              <h3 class="component-title">sEMI - SWEET CHOCOLATE</h3>
              <ul class="component-tag-list list">
                <li class="component-tag-item component-tag-item-color">
                  sweet chocolate
                </li>
                <li class="component-tag-item component-tag-item-transparent">
                  the benefits
                </li>
              </ul>
              <p class="component-descr">
                Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
                of the best ways to gain an understanding of this type of
                chocolate is to compare it to a different type of chocolate.
                Semisweet is darker than milk chocolate. In a taste comparison,
                it has a slightly bitter taste whereas milk chocolate is sweeter
                and more mellow.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>