.advantages-section {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 36px;
    background-color: #1E1823;
}

@media screen and (min-width: 768px) {
    .advantages-section {
        padding-top: 20px;
        padding-bottom: 36px;
    }
}

@media screen and (min-width: 1200px) {
    .advantages-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 320px) {
    .advantages-container {
        width: fit-content;
        padding-left: 20px;
        padding-right: 47px;
    }
}

@media screen and (min-width: 375px) {
    .advantages-container {
        max-width: 375px;
        padding-left: 20px;
        padding-right: 47px;
    }
}

@media screen and (min-width: 768px) {
    .advantages-container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 0px;
    }


}

@media screen and (min-width: 1200px) {
    .advantages-container {
        max-width: 1200px;
        padding-left: 50px;
        padding-right: 50px;
    }

}

.advantages-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    padding-left: 0;
}

@media screen and (min-width: 768px) {
    .advantages-list {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
        padding-left: 0;
    }

    .advantages-item {
        flex-basis: calc(50% - 60px);
    }
}

@media screen and (min-width: 1200px) {
    .advantages-list {
        align-items: flex-start;
        flex-direction: row;
        gap: 70px;
        padding-left: 0;
        flex-wrap: nowrap;
    }

    .advantages-item {
        position: relative;
    }

    .advantages-item::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -18px;
        transform: translateY(-50%);
        height: 124px;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
    }

    .advantages-item:last-child::after {
        display: none;
    }
}

.advantages-icon {
    width: 62px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.advantages-icon-item {
    fill: #FD9222;
    width: 28px;
    height: 28px;

}

.advantages-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 22px;
    padding-bottom: 18px;

}

.advantages-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}