:root {
  --main-white-color: #ffffff;
  --secondary-bcg-color: #1e1823;
  --brand-color: #fd9222;
}

<<<<<<< HEAD
=======
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}


>>>>>>> 0f1a22f9acdd421a2d64a0b016d5c41956bd73cb
.section-footer {
  background-color: var(--secondary-bcg-color);
  padding: 50px 32px;
  font-family: Montserrat;
}

@media (min-width: 768px) {
  .section-footer {
    padding-top: 50px;
    padding-bottom: 50px;
 
  }
}

@media (min-width: 768px) {
  .footer-social-address-tablet {
    display: flex;
    align-items: center;
  }
}

.footer-paragraph {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--main-white-color);
  max-width: 300px;
  
}

@media (min-width: 768px) {
  .footer-paragraph {
    font-size: 28px;
    line-height: 1.21;
  }
}

.footer-paragraph-orange {
  color: var(--brand-color);
}

@media (min-width: 768px) {
  .footer-social-address-container {
    margin-left: 124px;
 
  }
}

@media (min-width: 1200px) {
  .footer-social-address-container {
    margin-left: 543px;
  }
}

.footer-social-container {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .footer-social-container {
    margin-top: 0;
  }
}

.footer-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-white-color);
}

.address {
  margin-top: 14px;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: none;

  color: var(--main-white-color);
  transition: color 250ms cubic-bezier(0.95, 0.03, 0.67, 1.07);
}

.address-link:hover,
.address-link:focus {
  color: var(--brand-color);
}

.address-item:last-child {
  margin-top: 4px;
}

.address-item {
  list-style-type: none;
}

.footer-nav {
  margin-top: 32px;
}

@media (min-width: 768px) {
  .footer-nav {
    margin-top: 50px;
  }
}

@media (min-width: 1200px) {
  .footer-nav {
    margin-top: 58px;
  }
}

.footer-nav::before {
  width: 100%;
  height: 1px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: block;

  content: '';
}

.footer-nav-list {
  margin-top: 32px;
}

@media (min-width: 768px) {
  .footer-nav-list {
    margin-top: 24px;

    display: flex;
    align-items: center;
  }
}

.footer-nav-item {
  list-style-type: none;
}
.footer-nav-link {
  text-decoration: none;
}

.footer-nav-item:nth-child(n + 2) {
  margin-top: 18px;
}

@media (min-width: 768px) {
  .footer-nav-item:nth-child(n + 2) {
    margin-top: 0;
  }

  .footer-nav-item:not(:first-child) {
    margin-left: 24px;
  }
}

.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;

  color: var(--main-white-color);
  transition: color 250ms cubic-bezier(0.95, 0.03, 0.67, 1.07);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: var(--brand-color);
}

.footer-social {
  list-style-type: none;
  display: flex;
  gap: 17px;
}

@media (min-width: 768px) {
  .footer-social {
    margin-left: 139px;
  }
}

.footer-social-link {
  stroke: var(--main-white-color);

  display: flex;

  transition: stroke 250ms cubic-bezier(0.95, 0.03, 0.67, 1.07);
}

.footer-social-item {
  width: 22px;
  height: 22px;
  stroke: var(--primary-text-color-theme-dark);
  fill-opacity: 0;
}

@media (min-width: 768px) {
  .footer-social-item {
    width: 24px;
    height: 24px;
  }
}

.footer-social-link:hover,
.footer-social-link:focus {
  stroke: var(--brand-color);
}
