/*==========================subscribe-modal==========================*/

.subscribe-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  opacity: 0;
  visibility: hidden;
}

.subscribe-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 201px 24px 32px 24px;
  border-radius: 15px;
  background-color: #ffffff;
  background-image: url('../images/sabscribe-images/sabscribe-modal/sabscribe-modal-mobile-img@1x.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-device-pixel-ratio: 2),
screen and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .subscribe-modal {
    background-image: url('../images/sabscribe-images/sabscribe-modal/sabscribe-modal-mobile-img@2x.webp');
  }
}

.sabscribe-modal-close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  right: 14px;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sabscribe-modal-close-icone {
  fill: #ffffff;
  stroke: #ffffff;
}

.subscribe-modal-title {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  max-width: 263px;
  min-height: 48px;
  margin-bottom: 24px;
}

.subscribe-modal-title-color {
  color: var(--accent-color);
  display: inline-block;
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-form-input {
  width: 190px;
  height: 45px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 100px;
  padding: 15px 38px 15px 15px;
}

.subscribe-form-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.subscribe-form-input:focus,
.subscribe-form-input:hover {
  outline: none;
}

.subscribe-form-btn {
  min-width: 100px;
  height: 45px;
  background: var(--accent-color);
  border-radius: 100px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: var(--primary-text-color-theme-dark);
  padding: 14px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-btn:hover,
.subscribe-form-btn:focus {
  color: var(--accent-color);
  background-color: #fcf1e0;
}

@media screen and (max-width: 767px) {
  .subscribe-modal {
    width: 311px;
  }

  .subscribe-form {
    position: relative;
  }

  .subscribe-form-btn {
    position: absolute;
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-modal {
    padding: 236px 40px 40px 40px;
    background-image: url('../images/sabscribe-images/sabscribe-modal/sabscribe-modal-tablet-img@1x.webp');
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .subscribe-modal {
      background-image: url('../images/sabscribe-images/sabscribe-modal/sabscribe-modal-tablet-img@2x.webp');
    }
  }

  .subscribe-modal-title {
    max-width: 298px;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 28px;
  }

  .subscribe-form-input {
    width: 313px;
    height: 52px;
    padding: 15px 15px 15px 15px;
  }

  .subscribe-form-btn {
    margin-left: 8px;
    min-width: 137px;
    height: 52px;
  }
}