@media screen and (min-width: 320px) {
  .review {
    padding-bottom: 72px;
    background-color: #fafafa;
  }
  .review-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 74px;
  }
  .review-title-black {
    color: var(--primary-text-color-theme-light);
  }
  .swiper-wrapper {
    width: 100%;
  }
  .review-list {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px; */
    margin-bottom: 20px;
  }
  .review-item {
    height: 242px;
  }
  .review-card {
    background: #ffffff;
    border: 1px solid rgba(17, 17, 17, 0.1);
    box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
    border-radius: 15px;
    max-width: 335px;
    max-height: 200px;
    padding-top: 56px;
    padding-bottom: 42px;
    margin-bottom: 20px;
  }
  .review-card-img {
    width: 100%;
    position: relative;
    /* left: 127px; */
    top: -270px;
    max-width: 80px;
    max-height: 80px;
    border: none;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  .review-card-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: var(--primary-text-color-theme-light);
    margin-bottom: 24px;
  }
  .review-card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    padding: 0 18px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6.5px);
  }

  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background: rgba(17, 17, 17, 0.4);
  }

  .swiper-pagination-bullet-active {
    border-radius: 25px;
    width: 28px;
    background: var(--accent-color);
  }

  .review-buttom {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #111111;
    background-color: #ffffff;

    display: block;
    margin: auto;
    padding: 12px 28px;
    border: 1px solid #fd9222;
    border-radius: 100px;
    max-width: 165px;
    margin-top: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review-buttom:is(:hover, :focus) {
    color: #ffffff;
    background: #fd9222;
  }
  /* .slider {
    display: block;
    margin: auto;
    margin-bottom: 32px;
  } */
  .one {
    display: none;
  }
  .two {
    display: none;
  }
}

@media screen and (min-width: 375px) {
  .swiper-wrapper {
    width: 100%;
    min-height: 242px;
  }
  .review-item {
    max-width: 335px;
  }
  .review-card-name {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .review {
    padding-bottom: 100px;
  }
  .review-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 91px;
  }
  .swiper-wrapper {
    width: 340px;
    min-height: 240px;
  }
  /* .review-list {
    column-gap: 16px;
    flex-wrap: nowrap;
  } */
  .review-item {
    max-width: 344px;
    /* margin-bottom: 32px; */
  }
  .review-card-img {
    bottom: 225px;
    left: 50%;
    transform: translate(-50%);
  }
  .review-card-img1 {
    bottom: 280px;
  }
  .review-card-text {
    padding: 0 16px;
  }
  .review-buttom {
    font-size: 18px;
    line-height: 1.22;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 14px 40px;
    max-width: 222px;
    margin-top: 50px;
  }
  .slider {
    margin-bottom: 50px;
  }
  .one {
    display: block;
  }
  .two {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .review {
    padding-bottom: 128px;
  }
  .review-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 91px;
  }
  .swiper-wrapper {
    width: 360px;
    min-height: 240px;
  }
  /* .review-list {
    flex-wrap: nowrap;
    gap: 28px;
  } */
  .review-item {
    max-width: 360px;
    /* margin-bottom: 32px; */
  }
  .review-card-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
  }
  .review-card-text {
    padding: 0 24px;
  }
  .review-card-img {
    left: 48%;
    transform: translate(-50%);
  }
  .review-buttom {
    font-size: 18px;
    line-height: 1.22;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 14px 40px;
    max-width: 222px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .slider {
    margin-bottom: 50px;
  }
  .one {
    display: block;
  }
  .two {
    display: block;
  }
}
