:root {
  --main-font-family: 'Montserrat', sans-serif;
  --accent-color: #fd9222;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #111111;
  --hover-buttons-color: #fcf1e0;
}
