/*==========================subscribe-section==========================*/

.subscribe {
    width: 100%;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url(../images/sabscribe-images/sabscribe/subscribe-mobile@1x.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 62px;
    padding-bottom: 63px;
}

@media screen and (min-device-pixel-ratio: 2),
screen and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .subscribe {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)), url('../images/sabscribe-images/sabscribe/subscribe-mobile@2x.webp');
    }
}

.subscribe-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.20;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
    max-width: 291px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.subscribe-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--primary-text-color-theme-dark);
    margin-bottom: 24px;
    max-width: 326px;
    margin-left: auto;
    margin-right: auto;
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 128px;
    height: 41px;
    padding: 12px 28px;
    border-radius: 100px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    background: var(--accent-color);
    color: var(--primary-text-color-theme-dark);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    color: var(--accent-color);
    background-color: #FCF1E0;
}

@media screen and (min-width: 768px) {
    .subscribe {
        padding: 72px 0 72px 0;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)), url(../images/sabscribe-images/sabscribe/subscribe-tablet@1x.webp);
        background-size: cover;
        background-repeat: no-repeat;
    }
}


@media screen and (min-device-pixel-ratio: 2),
screen and (min-width: 768px),
screen and (min-resolution: 192dpi) and (max-width: 768px),
screen and (min-resolution: 2dppx) and (max-width: 768px) {
    .subscribe {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)), url('../images/sabscribe-images/sabscribe/subscribe-tablet@2x.webp');
    }
}


.subscribe-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
}

.subscribe-text {
    max-width: 467px;
}

.subscribe-btn {
    min-width: 172px;

}


@media screen and (min-width: 1200px) {
    .subscribe {
        padding: 72px 0 72px 0;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)), url(../images/sabscribe-images/sabscribe/subscribe-desktop@1x.webp);

    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        .subscribe {
            background-image: linear-gradient(0deg,
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.2)), url('../images/sabscribe-images/sabscribe/subscribe-desktop@2x.webp');
        }
    }
}